div.a {
    text-align: center;
}
img {
    border: 8px solid black;
}
body {
    background-image: url("cat_for_ugonma.png");
    background-size: 366px 381px;
    background-repeat: repeat;
    background-blend-mode: luminosity;
    background-color: powderblue;
    font-family: sans-serif;
}
table {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
table, th, tr {
    border: 1px solid black;
}

.odd {
    background-color: white;
    color: black;
}
.even {
    background-color: black;
    color: white;
}
/*
tr:nth-child(even) {
    background-color: black;
    color: white;
} 
tr:nth-child(odd) {
    background-color: white;
    color: black;
}*/

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
caption {
    background-color: white;
}
h1 {
    background-color: rgba(255,255,255,0.7);
}

