body{
    font-family: 'Consolas';
    height: 100%;
}
div#gamebox{
    border: 4px solid lightblue;
    padding: 30px;
    width: 800px;
    text-align: center;

}
div#center{
    margin: auto;
    max-width: 900px;
}
div#lives{
    height: 64px;
}
div#game_timer{
    padding-top: 16px;
    height: 64px;
    font-style: italic;
    font-size: 32px;
}
div#credits{
    margin-bottom: 0;
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-size: 16px;
    font-style: italic;
}
#guess_button{
    color: white;
    background-color: black;
    font-family: 'Consolas';
    border-radius: 3px;
    height: 40px;
    font-size: 18px;
    border: 2px solid aqua;
}
#guess{
    height: 24px;
    border: 4px solid black;
    border-radius: 0px;
    font-family: 'Consolas';
    font-size: 18px
}